@inject ISnackbar Snackbar
@inject HttpClient Http

<MudDialog>
    <DialogContent>
        <p>Are you sure you want to delete <b>@Vocab.VocabExpression?</b></p>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Delete</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>


@code {
    private const string API_URL = "api/vocab";

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public Vocab Vocab { get; set; }
    [Parameter] public MudTable<Vocab> MudTable { get; set; }

    public async Task Close()
    {
        await DeleteVocabAsync();

        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Add("Vocab Deleted", Severity.Success, config =>
        {
            config.VisibleStateDuration = 1000;
            config.Icon = @Icons.Material.Outlined.Check;
        });

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        MudDialog.Close(DialogResult.Cancel());
    }

    public async Task DeleteVocabAsync()
    {
        await Http.PostAsJsonAsync<Vocab>(API_URL + "/delete", Vocab);
        await MudTable.ReloadServerData();
    }

}
