@page "/home"
@using System.Security.Claims
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IdentityAuthenticationStateProvider AuthProvider
@attribute [Authorize(Policy = "IsCustomer")]

<PageTitle>Home</PageTitle>

@if (_userOptions != null)
{
    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Large">
        <MudGrid>

            <AuthorizeView>
                <MudItem sm="12">
                        <MudText Typo="Typo.h3">Hello <b>@context.User.Identity.Name!</b></MudText>
                </MudItem>
            </AuthorizeView>

            <MudItem sm="6">
                <div class="relative mb-16" style="width:100%; height:100%">

                    <div class="absolute" style="width:inherit; height:inherit">
                            <img style="border-radius: 10px; width:inherit; height:inherit; opacity:0.6" 
                                Src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/02/a0002487/img/basic/a0002487_main.jpg?20230106161700" />          
                    </div>

                    <div class="absolute pa-5 mt-10" style="width:inherit; height:inherit">
                        <InspiringQuotes/>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/flashcards" Class="mt-5 mb-16">
                            <MudText Color="Color.Inherit" Typo="Typo.h6">Today's Words</MudText>
                        </MudButton>
                    </div>

                </div>
            </MudItem>

            <MudItem sm="6">
                <MudPaper Class="pa-5">
                    <DisplayUserOptions UserFlashCardOptions="_userOptions"/>
                </MudPaper>
            </MudItem>

            <MudItem sm="12">
                <ReviewableCards/>  
            </MudItem>

            <MudItem sm="6">Chart image</MudItem>
            <MudItem sm="6">Chart button and quote</MudItem>
        
        </MudGrid>
    </MudContainer>
} 
else 
{
    <MudStack AlignItems="AlignItems.Center" Class="mt-16">
        <MudProgressLinear Indeterminate=true/>
    </MudStack>
}


@code {
    private const string API_URL = "api/customer";

    private UserFlashCardOptions? _userOptions;


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthProvider.GetAuthenticationStateAsync()).User.Identity;

        if (user != null & user.IsAuthenticated) 
        {
            _userOptions = await Http.GetFromJsonAsync<UserFlashCardOptions>(API_URL + "/get-options");
        }
    }
}
