@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    protected override async Task OnInitializedAsync()
    {
        //var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        //var user2 = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Claims;
        var authState = await AuthenticationStateProvider
                .GetAuthenticationStateAsync();

        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var authMessage = $"{user.Identity.Name} is authenticated.";
            var claims = user.Claims;

            foreach (var claim in claims)
            {
                //Console.WriteLine(claim.ValueType);
                Console.WriteLine(claim.Type);
                Console.WriteLine(claim.Value);
            }

            //var surname = user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value;
        }
        else
        {
            var authMessage = "The user is NOT authenticated.";
        }
    }
}